.DS_Store
node_modules/
/dist/
server/db/
server/public/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
server/db/_mdb_catalog.wt
server/db/_mdb_catalog.wt
server/db/mongod.lock
server/db/mongod.lock
